body {
    margin: 0px;
    /* overflow: hidden; */
}
.header {
    background: black;
    position: relative;
}
.header img {
    filter: blur(4px);
    opacity: .6;
    width: 100%;
    height: 920px;
    object-fit: cover;
}
.header-text {
    position: absolute;
    color: white;
    top: 256px;
    margin: 0 10%;
}
.main-text {
    font-size: 64px;
    padding-bottom: 48px;
}
.sub-text {
    font-size: 24px;
    padding-bottom: 128px;
}
.header-line {
    border-top: .5px solid;
    padding-bottom: 32px;
}
.end-text {
    font-size: 32px;
}
.main {
    /* margin: 200px auto; */
    /* max-width: 1200px; */
    color: #333;
}
.first-problem {
    margin: 200px 8%;
    max-width: 1200px;
    position: relative;
}
.score-first-problem {
    font-size: 32px;
}
.main-first-problem {
    padding: 20px 0;
    font-size: 48px;
    font-weight: bold;
}
.about-first-problem {
    font-size: 28px;
    max-width: 560px;
}
.pic1-first-problem {
    position: absolute;
    width: 600px;
    top: 50px;
    right: 0px;
    border-radius: 64px;
}
.theme-second-problem {
    background-color: #171717;
    color:white;
}
.second-problem {
    padding: 200px;
}
.score-second-problem {
    position: absolute;
    right:700px;
    font-size: 32px;
}